apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: confluent
resources:
  - namespace.yaml
  - serviceaccount.yaml
  - clusterrole.yaml
  - clusterrolebinding.yaml
  - deployment.yaml
